@model Artikl

<form method="post" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Uređivanje Artikala</h2>
            <hr />
        </div>
        @*  <div asp-validation-summary="All"></div> *@
        <div class="mb-2 row p-1">
            <label asp-for="Id" class="p-0"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Naziv" class="p-0"></label>
            <input asp-for="Naziv" class="form-control" />
            <span asp-validation-for="Naziv" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Kategorija" class="p-0"></label>
            <input asp-for="Kategorija" class="form-control" />
            <span asp-validation-for="Kategorija" class="text-danger"></span>
        </div>
        <div class="mb-2 row p-1">
            <label asp-for="Cijena" class="p-0"></label>
            <input asp-for="Cijena" class="form-control" />
            <span asp-validation-for="Cijena" class="text-danger"></span> 
        </div>
       @*   <div class="mb-2 row p-1">
            <label asp-for="Ocijena" class="p-0"></label>
            <input asp-for="Ocijena" class="form-control" />
             <span asp-validation-for="Ocijena" class="text-danger"></span>
        </div>  *@
        <div class="mb-3 row p-1">
            <input type="file" name="file" class="form-control border-0 shadow" />
            <label asp-for="ImageUrl" class="p-0"></label>
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control">Ažuriraj</button>
            </div>
            <div class="col-6">
                <a asp-controller="Artikl" asp-action="Index" class="btn btn-outline-secondary border form-control">
                    Vrati se nazad
                </a>
            </div>
        </div>

    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />

    }

}