
<div id="particles-js">
    <div class="wrapper">
        <svg>
            <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                <h3 class="text-center">SUPER SPORT</h3>
            </text>
        </svg>
    </div>
</div>

@section Scripts {
    @{
        <script src="~/js/particles.js"></script>

    }
}